<a href="https://colab.research.google.com/github/nishanshrestha04/DSA_NOTES/blob/main/Stack_Queue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Your Name: Nishan Shrestha

# Student ID: 24128429

In [ ]:
#SOLVE Tower of Hanoi Problem for 4 no.discs & derive the input equation

In [ ]:
#Your Code Here
def toh(n,source,spare,destination):
  if n ==0:
    return f'Invalid'
  else:
    toh(n-1,source,destination,spare)
    print(f'Move {n} disc from {source} to {destination}')
    toh(n-1,spare,destination,source)

toh(4, "A", "B", "C")

Move 1 disc from A to B
Move 2 disc from A to C
Move 1 disc from B to A
Move 3 disc from A to B
Move 1 disc from C to B
Move 2 disc from C to A
Move 1 disc from B to C
Move 4 disc from A to C
Move 1 disc from B to A
Move 2 disc from B to C
Move 1 disc from A to B
Move 3 disc from B to A
Move 1 disc from C to A
Move 2 disc from C to B
Move 1 disc from A to C

In [ ]:
!pip install latexify-py==0.2.

Collecting latexify-py==0.2.
  Downloading latexify_py-0.2.0-py3-none-any.whl (22 kB)
Collecting dill>=0.3.2 (from latexify-py==0.2.)
  Downloading dill-0.3.8-py3-none-any.whl (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 3.9 MB/s eta 0:00:00
Installing collected packages: dill, latexify-py
Successfully installed dill-0.3.8 latexify-py-0.2.0

In [ ]:
import math
import latexify

In [ ]:
@latexify.with_latex
def T(n):
  return 2*T(n-1)+1
T

\begin{align*}
T(n) &= 2 (2 T(n - 2) + 1) + 1 \\
&= 2^2 T(n - 2) + 2 + 1 \\
T(n) &= 2^3 T(n - 3) + 2^2 + 2 + 1 \\
\end{align*}

Solve the above Problem

Your LaTeX here

\begin{align*}
T(n) &= 2T (n -1) + 1 \\
&= 2[2T (n - 2) + 1] + 1\\
&= 4T (n - 2) + 2 + 1\\
&= 8T (n - 3) + 4 + 2 + 1\\
&= 2 ^ 3T (n - 3) + 2 ^ 2 + 2 ^ 1 + 2 ^ 0\\
&= 2 ^ kT(n - 3) + 2 ^ 2 + 2 ^ 1 + 2^ 0\\
T(n - 1) &= 2T (n -2) + 1\\
So, \\
&= 2^kT(n - k) + 2^{k - 1} + 2^{k -2} + 2^ {k-3}+ .....+ 2^1 + 2 ^ 0\\
\end{align*}

# Exercise: Lists

Create a list in Python, for example:<br>

`x = [‘a’, 25, ‘dog’, 8.43]`

Then find the correct Python code for operations supported by lists. For example:

`[] or list()` creates an empty list,<br>
`my_list[i]` gets the value at index i,<br>
`my_list[i] = y` sets the value at index i to be y.



**1.   Using Using square brackets `[]`:**<br>
You can create a list by enclosing a comma-separated sequence of values in square brackets.

In [ ]:
x = ['a', 25, 'dog', 8.43]
x

['a', 25, 'dog', 8.43]

In [ ]:
print(x)

['a', 25, 'dog', 8.43]

In [ ]:
type(x)

list

**2.   Using the `list()` constructor:**<br>
You can create a list by calling the `list() `constructor with an iterable as its argument.

In [ ]:
x = list(('a', 25, 'dog', 8.43))
print(x)
type(x)

['a', 25, 'dog', 8.43]

list

**3.   List comprehension:**<br>
You can create a list using a list comprehension, which is a concise way to create lists based on existing iterables.

In [ ]:
my_list = [y for y in range(1, 6)]
print(my_list)

[1, 2, 3, 4, 5]

**4.   Using the `*` operator:**<br>
You can create a list with a repeated value using the `*` operator.

In [ ]:
my_list = [13] * 5
print(my_list)

[13, 13, 13, 13, 13]

**5. Appending values using a loop:**<br>
You can create a `list` by `appending` values to an empty list using a `loop`.

In [ ]:
my_list = []
for i in range(1, 6):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
my_list.append(4)
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 5]
my_list.insert(0, 50)
print(my_list)

[50, 1, 2, 3, 5]

In [ ]:
my_string = "one two three four five"
my_list = my_string.split()
print(my_list)

['one', 'two', 'three', 'four', 'five']

`my_list[i]` gets the value at index i,<br>
`my_list[i] = y` sets the value at index i to be y.

In [ ]:
x = ['a', 25, 'dog', 8.43]

In [ ]:
print((x[0], x[3]))

('a', 8.43)

In [ ]:
x[0] = 'b'
print(x)

['b', 25, 'dog', 8.43]

# CLASS TASK - 1 <br>
**Please make a simple list** and do following exercises: <br>
`[] or list()` creates an empty list,<br>
`my_list[i]` gets the value at index i,<br>
`my_list[i] = y `sets the value at index i to be y.<br>
`len(my_list)` gets the length of the list,<br>
`my_list.append(y)` appends the value y to the list,<br>
`my_list.insert(i,y)` inserts the value y at index i,<br>
`del my_list[i]` removes the value at index i, <br>
`my_list.remove(y)` removes by value, not by index,<br>
`my_list.clear() `clears the list<br>
`For y in my_list:` iterates over the list<br>
`my_list.extend(list1)` appends list1 to the end of my_list,<br>
`my_list.index(y) `returns the index of the first element with value y,<br>
`my_list.reverse() `reverses the elements of the list.

In [ ]:
#Code here
#Your can add more cells if you think its necessary
my_list = []

In [ ]:
my_list.append("apple")
first_fruit = my_list[0]
print(first_fruit)

In [ ]:
my_list = ["apple", "banana", "cherry"]
my_list[1] = "orange"
print(my_list)

In [ ]:
my_list = ["apple", "orange", "cherry"]
length_of_list = len(my_list)
print(length_of_list)

In [ ]:
my_list = ["apple", "orange"]
my_list.append("grape")
print(my_list)

In [ ]:
my_list = ["apple", "cherry"]
my_list.insert(1, "orange")
print(my_list)

In [ ]:
my_list = ["apple", "orange", "cherry"]
del my_list[1]
print(my_list)

In [ ]:
my_list = ["apple", "orange", "cherry"]
my_list.remove("orange")
print(my_list)

In [ ]:
my_list = ["apple", "cherry"]
my_list.clear()
print(my_list)

In [ ]:
my_list = ["apple", "orange", "cherry"]
for i in my_list:
  print(i)

In [ ]:
my_list = ["apple", "orange"]
another_list = ["mango", "grape"]
my_list.extend(another_list)
print(my_list)

In [ ]:
my_list = ["apple", "orange", "cherry"]
orange_index = my_list.index("orange")
print(orange_index)

In [ ]:
my_list = ["apple", "orange", "cherry"]
my_list.reverse()
print(my_list)

# Exercise: Dictionaries
Create a dictionary in Python then find the correct Python code for operations supported by dictionaries. For example:

`{}` or `dict()` creates an empty dictionary.

In [ ]:
# Using curly braces {}
my_dict = {'apple': 2, 'banana': 3, 'orange': 1}
print(my_dict)

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
type(my_dict)

dict

In [ ]:
# Using dict() constructor
my_dict = dict(apple=2, banana=3, orange=1)
print(my_dict)

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
print(len(my_dict))  # Output: 3
print(my_dict['banana'])  # Output: 3

3
3

In [ ]:
my_dict['pear'] = 4
print(my_dict)  # Output: {'apple': 2, 'banana': 3, 'orange': 1, 'pear': 4}

{'apple': 2, 'banana': 3, 'orange': 1, 'pear': 4}

In [ ]:
del my_dict['orange']
print(my_dict)  # Output: {'apple': 2, 'banana': 3, 'pear': 4}

{'apple': 2, 'banana': 3, 'pear': 4}

In [ ]:
print('apple' in my_dict)  # Output: True
print(my_dict.keys())  # Output: dict_keys(['apple', 'banana', 'pear'])
print(my_dict.values())  # Output: dict_values([2, 3, 4])
print(my_dict.items())  # Output: dict_items([('apple', 2), ('banana', 3), ('pear', 4)])

True
dict_keys(['apple', 'banana', 'pear'])
dict_values([2, 3, 4])
dict_items([('apple', 2), ('banana', 3), ('pear', 4)])

In [ ]:
# Let's create the dictionary from the video lecture:
dct = {'pork':25.3,'beef':33.8,'chicken':22.7}
print(dct['pork'])
# What if we need to increase the weight of each of the meats by 3kg:
for k in dct:
  dct[k]=dct[k]+3

print(dct)

25.3
{'pork': 28.3, 'beef': 36.8, 'chicken': 25.7}

# CLASS TASK - 2 <br>
**Please make a simple Dictionary** and do following exercises: <br>
`{}` or `dict()` creates an empty dictionary.<br>
`my_dict[k]` or `my_dict.get(k)` gets the value for key k,<br>
`my_dict[k] = y` sets the value for key k to be y,<br>
k in my_dict checks whether the dictionary contains the key k,<br>
`len(my_dict)` gets the size of the dictionary,<br>
`del my_dict[k]` or `my_dict.pop(k)` removes the key k and its value,<br>
`my_dict.clear()` clears the dictionary,<br>
`for k in my_dict:` iterates over the keys,<br>
`for x in my_dict.values():` iterates over the values,<br>
`for k, y in my_dict.items():` iterates over the key/value pairs.

In [ ]:
#Code here
#Your can add more cells if you think its necessary
my_dict = {}

In [ ]:
my_dict = {"name": "Alice", "age": 30}

name_value = my_dict["name"]
another_name_value = my_dict.get("name")
print(name_value, another_name_value)

my_dict["age"] = 31
print(my_dict)

In [ ]:
my_dict = {"name": "Alice", "age": 30}
has_name_key = "name" in my_dict
has_city_key = "city" in my_dict
print(has_name_key, has_city_key)

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
size_of_dict = len(my_dict)
print(size_of_dict)

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

del my_dict["city"]

removed_age = my_dict.pop("age")
print(my_dict, removed_age)

In [ ]:
my_dict = {"name": "Alice", "age": 30}
my_dict.clear()
print(my_dict)

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
# Iterate over keys only

for key in my_dict:
  print(key)
# Iterate over value only
for value in my_dict.values():
  print(value)

# Iterate over key-value pairs
for key, value in my_dict.items():
  print(key, value)

# Exercise: Sets
Create a set in Python then find the correct Python code for operations supported by sets. For example:

`set()` creates an empty set (**Note**: `{}` creates and empty `dict`).

In [ ]:
my_set = set((1,2))
print(my_set)

{1, 2}

In [ ]:
my_set = set({1,2})
print(my_set)

{1, 2}

In [ ]:
# Using curly braces {}
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [ ]:
# Empty Set
my_set1 = set()
# Set with initial values
my_set1 = {10, 20, 30, 40, 50}

In [ ]:
print(my_set1)

{50, 20, 40, 10, 30}

In [ ]:
# Add a single element
my_set1.add(4) # Add a single element
print(my_set1)

{50, 20, 4, 40, 10, 30}

In [ ]:
# Add multiple elements
my_set1.update([5, 6, 7])
print(my_set1)

{4, 5, 6, 7, 10, 20, 30, 40, 50}

In [ ]:
my_set1.remove(40) # Remove a specific element
print(my_set1)

{4, 5, 6, 7, 10, 20, 30, 50}

In [ ]:
# Remove an element, if present
my_set1.discard(600)
print(my_set1)

{4, 5, 6, 7, 10, 20, 30, 50}

In [ ]:
# Remove and return an arbitrary element
my_set1.pop()
print(my_set1)

{5, 6, 7, 10, 20, 30, 50}

In [ ]:
# Remove all elements
my_set1.clear()
print(my_set1)

set()

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union of sets
set3 = set1.union(set2)
print("Set3 =", set3)

# Intersection of sets
set4 = set1.intersection(set2)
print("Set4 =", set4)

# Difference of sets
set5 = set1.difference(set2)
print("Set5 =", set5)

# Symmetric Difference of sets (remove commons)
set6 = set1.symmetric_difference(set2)
print("Set6 =", set6)

Set3 = {1, 2, 3, 4, 5, 6}
Set4 = {3, 4}
Set5 = {1, 2}
Set6 = {1, 2, 5, 6}

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Check if an element is in the set
print(3 in my_set)

# Check if an element is not in the set
print(6 not in my_set)

True
True

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 | set2) #union
print(set1 & set2) #intersection
print(set1 - set2 ) #difference
print(set2 - set1)
print(set1 ^ set2) #Symmetric difference - Remove elements common to both sets
print(1 in set1)
print(5 in set1)

{1, 2, 3, 4}
{2, 3}
{1}
{4}
{1, 4}
True
False

In [ ]:
set1.add(5)
print(set1)

{1, 2, 3, 5}

In [ ]:
set1.remove(2)
print(set1)

{1, 3, 5}

In [ ]:
#Initialize a set with values:
set_values = {1, 2, 3}

#Initialize an empty set:
set_empty = set()

#Add multiple values to a set:
set_empty.update([1, 2, 3])

#Check if a set is a subset of another:
set1 = {1, 2}
set2 = {1, 2, 3}
set1 < set2 # True
set2 < set1 # False

#Check if two sets have a non-empty intersection:
set1 & set2 # {1, 2}
set1.isdisjoint(set2) # False

#Clear a set of all values:
set1.clear()
set1 # set()
#Delete a set entirely:

del set1

# CLASS TASK - 3
Please make a simple Set and do following exercises:<br>
`set()` creates an empty set,<br>
`y in my_set` checks if the set contains y,<br>
`len(my_set) `gets the size of the set,<br>
`my_set.add(y) `inserts y into the set if not already present,<br>
`my_set.remove(y) `removes y from the set if present,<br>
`my_set.clear()` clears the set,<br>
`for k in my_set:` iterates over the set.

In [ ]:
#Code here
#Your can add more cells if you think its necessary
my_set = set()  # This creates an empty set

In [ ]:
my_set = {"apple", "banana", "cherry"}
has_apple = "apple" in my_set
print(has_apple)

In [ ]:
my_set = {"apple", "banana", "cherry"}
size_of_set = len(my_set)
print(size_of_set)

In [ ]:
my_set = {"apple", "banana"}
my_set.add("cherry")
print(my_set)

In [ ]:
my_set = {"apple", "banana", "cherry"}
my_set.remove("banana")
print(my_set)

In [ ]:
my_set = {"apple", "cherry"}
my_set.clear()
print(my_set)

In [ ]:
my_set = {"apple", "banana", "cherry"}
for i in my_set:
  print(i)  # This will print the elements in an arbitrary order

apple
banana
cherry

Write a Python function to compute and return the union of two sets. Then do the same for the intersection of two sets.

In [ ]:
def set_union(set1, set2) -> set:
    """
    Computes the union of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The union of set1 and set2.
    """
    return set1.union(set2)


def set_intersection(set1, set2) -> set:
    """
    Computes the intersection of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The intersection of set1 and set2.
    """
    return set1.intersection(set2)

In [ ]:
#idiot-proofing the code
def set_union(set1, set2) -> set:
    if isinstance(set1, set):
        return set1.union(set2)
    else:
        return '"WARNING: Inputs could not be converted to sets.'

def set_intersection(set1, set2) -> set:
    if isinstance(set1, set):
        return set1.intersection(set2)
    else:
        return '"WARNING: Inputs could not be converted to sets.'
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}
print(set_union(a, b))
print(set_intersection(a, b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

Use above methods and print something and try idiot-proofing your code

In [ ]:
def union(set1, set2):
  if not isinstance(set1, set) or not isinstance(set2, set):
    raise TypeError("Arguments must be sets")
  return set1 | set2

def intersection(set1, set2):
  if not isinstance(set1, set) or not isinstance(set2, set):
    raise TypeError("Arguments must be sets")
  return set1 & set2

#Now if we pass in values that aren't sets, we'll get a helpful TypeError instead of confusing errors:

In [ ]:
print(union([1, 2, 3], 4)) # Raises TypeError

TypeError: Arguments must be sets

# Discussion: Shopping List?
Could be a `dictionary`, `list`, `tuple` or `set`. Suggest pros and cons of each with examples.

A shopping list can be created by utilizing a dictionary or list data structures, each offering its own advantages and disadvantages.<br>

list and dictionary are interchangable while creating a shopping list.<br>

In this discussion, the advantages and disadvantages of utilizing both lists and dictionaries in the context of generating a shopping list will be examined. The code provided will focus solely on the implementation of the list data structure.

#Nested list
<b>Pros</b> </br>
- Simple and straightforward. </br>
- Easy to understand and implement.</br>

<b>Cons</b> </br>
- Limited in terms of organizing data.</br>
- Each item is represented as a list, which may become cumbersome to manage if more attributes are added.</br>
- Accessing attributes requires indexing, which can be error-prone and less intuitive.</br>

#Nested dictionary
<b>Pros</b> <br>
- Each item is represented as a dictionary, providing a structured way to store and access item attributes.<br>
- Easily add, modify, or remove attributes for each item without affecting others.<br>
- Quick access to specific item attributes using key-value pairs.<br>

<b>Cons</b>
-  Dictionaries do not maintain order by default, which can be problematic if item order is important.
- Handling nested dictionaries and ensuring consistency across items may require additional effort.
- Dictionaries consume more memory compared to simpler data structures like lists due to storing keys alongside values.

#Nested tuple
<b>Pros</b>
- Immutable, ordered, and can be used as keys in dictionaries.
<b>Cons</b>
- Fixed structure, so adding or modifying attributes requires creating new tuples.

#Nested Sets
<b>Pros</b>
-  Ensures uniqueness of elements, fast membership testing.
<b>Cons</b>
-  Unordered, so not suitable if item order is important. Cannot have duplicate elements.

In [ ]:
#Code/Text here
#Your can add more cells if you think its necessary
shopping_list_shirts = [['cropshirt', 1000, 5], ['Normal shirt', 500, 4.5], ['formal shirt', 1500, 3.5], ['fitting-shirt', 700, 2.1]]
def sort_by_price(listt):
    sort_price = sorted(listt, key = lambda x: x[1], reverse = True)
    for i in sort_price:
        print(i[0], i[1], i[2])

def sort_by_rating(lis):
    sort_rating = sorted(lis, key = lambda x: x[2], reverse = True)
    for i in sort_rating:
        print(i[0], i[1], i[2])

print("Sorted list orderd in decending order of price")
sort_by_price(shopping_list_shirts)
print('-'*20)
print("Sorted list orderd in decending order of rating")
sort_by_rating(shopping_list_shirts)

Sorted list orderd in decending order of price
formal shirt 1500 3.5
cropshirt 1000 5
fitting-shirt 700 2.1
Normal shirt 500 4.5
--------------------
Sorted list orderd in decending order of rating
cropshirt 1000 5
Normal shirt 500 4.5
formal shirt 1500 3.5
fitting-shirt 700 2.1

# Stacks
There isn't a native stack or queue function in Python so to create these ADTs you need to use a suitable type. Using a `list` as a proxy write functions to `push`, `peek` and `pop` from a `stack`. <br>
Hint: `Lst.pop(2)` pops the 3rd element from the list `Lst`.

In [ ]:
# Write your code here:
def push(Lst,x):
    Lst.append(x)

def peek(Lst):
    return Lst[-1]

def pop(Lst):
    Lst.pop()

# Queues
Now that you've set up stacks try and do the same for queues:

In [ ]:
# Write your code here:
def enqueue(Lst,x):
    Lst.append(x)

def peek(Lst):
    return Lst[0]

def dequeue(Lst):
    Lst.pop(0)

# Priority Queue

Try now to write a Priority Queue function using a suitable ADT

In [ ]:
queue = {}

def add(item, priority):
  queue[priority] = item

def pop():
  priority, item = sorted(queue.items(), key=lambda x: x[0])[-1]
  del queue[priority]
  return item

In [ ]:
add("Medicine", 3)
add("Apple", 2)
add("Movie Disk", 1)
print(queue)

{3: 'Medicine', 2: 'Apple', 1: 'Movie Disk'}

In [ ]:
pop()
print(queue)

{2: 'Apple', 1: 'Movie Disk'}

# Do scratch implementation of union & intersection using sets

In [ ]:
#Your code here
def union(set1, set2):
    return set1.union(set2)

def intersection(set1, set2):
    return set1.intersection(set2)

# Example usage:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = union(set1, set2)
intersection_set = intersection(set1, set2)

print(union_set)
print(intersection_set)

{1, 2, 3, 4, 5, 6}
{3, 4}

Explain how two stacks can be used to implement a queue with all relevant operations. Note this is a popular interview question.

Hint: use one stack for ‘arrivals’ and the other for ‘departures’.

In [ ]:
# Your code here
left_stack = []
right_stack = []

def enqueue(item):
  left_stack.append(item)

def dequeue():
  if not right_stack:
    while left_stack:
      right_stack.append(left_stack.pop())
  return right_stack.pop()

In [ ]:
enqueue(5)
enqueue(6)
enqueue(7)
print(left_stack)

[5, 6, 7]

In [ ]:
dequeue()

5

In [ ]:
print(right_stack)

[7, 6]

# Opeartors

In [ ]:
print(1 + 2) # 3
print(8 - 3) # 5
print(2 * 4) # 8
print(10 / 2) # 5.0
print(19 // 6) # 3
print(10 % 2) # 0
print(2 ** 3) # 8
print(19 // 7) # 2
print(19 % 6) # 1

3
5
8
5.0
3
0
8
2
1

In [ ]:
print(bin(0b1010 & 0b1100)) # AND - Sets each bit to 1 if both bits are 1
print(bin(0b1010 | 0b1100)) # OR - Sets each bit to 1 if one of two bits is 1
print(bin(~0b11)) #( x = -x-1) [BITWISE-NOT]
print(bin(0b1010 ^ 0b1100)) # XOR - Sets each bit to 1 if only one of two bits is 1

print(bin(0b1010 << 2)) #BITWISE-LEFT "Left shifting means adding zeros on the right and letting the leftmost bits fall off."
print(bin(0b1010 >> 3)) #BITWISE-RIGHT "Right shifting means adding copies of the leftmost bit on the left and letting the rightmost bits fall off."

0b1000
0b1110
-0b100
0b110
0b101000
0b1

In [ ]:
# Bitwise AND example
a = 0b1010
b = 0b1100
result = a & b
print(bin(result))  # Output: 0b1000

0b1000

# Play with bitwise operators...

In [ ]:
#Your code here
print(bin(a & b))
print(bin(a | b))
print(bin(~a))
print(bin(a ^ b))

print(bin(a << 2))
print(bin(a >> 3))

0b1000
0b1110
-0b1011
0b110
0b101000
0b1

# Shallow vs Deep Copy

In [ ]:
original_list = [1, 2, [3, 4]]
new_list = original_list.copy()

print("Original List: ", original_list)
print("New List: ", new_list)

# modify the original list
original_list[2][0] = 5

print("Modified Original List: ", original_list)
print("Modified New List: ", new_list)

Original List:  [1, 2, [3, 4]]
New List:  [1, 2, [3, 4]]
Modified Original List:  [1, 2, [5, 4]]
Modified New List:  [1, 2, [5, 4]]

## Deep-Shallow Copy & Shallow Copy peculariaties.

In [ ]:
# Explain with all examples - all cases
l1 = [[10,20], 30, 40]
l2 = l1[:]
l2[0].append(100)
print(l1)
print(l2)

[[10, 20, 100], 30, 40]
[[10, 20, 100], 30, 40]

In [ ]:
l1 = [10,20,30]
l2 = l1[:]
l2.append(40)
print(l1)
print(l2)

[10, 20, 30]
[10, 20, 30, 40]

##Geometric Data
Geometric data in data structures refers to any data that represents or describes a geometric object, such as points, lines, curves, polygons, and higher-dimensional shapes. Geometric data structures are used to efficiently store, query, and manipulate geometric data, which is common in many areas of computer science, including computer graphics, computer vision, robotics, and computational geometry.

In [ ]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __repr__(self):
        fmt = 'Point({!r}, {!r})'
        return fmt.format(self.x, self.y)

In [ ]:
p1 = Point(3,2)

print(p1)

print(p1.x)

Point(3, 2)
3

In [ ]:
# QN 1) Create a point p2 at x=5,y=4.

p2 = Point(5, 4)
print(p2)
print(p2.x)

Point(5, 4)
5

The class for a Vector is shown below which has addition and scale operations. Add in a function to perform Vector subtraction.

In [ ]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __repr__(self):
        fmt = 'Vector({!r}, {!r})'
        return fmt.format(self.x, self.y)

    def add(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def scale(self, scalar):
        return Vector(scalar * self.x, scalar * self.y)

    #def subtract
    def subtract(self, other):
        return Vector(self.x - other.x, self.y - other.y)

In [ ]:
# QN 2) Write code to add and subtract p1 and p2 and then scale p1 by 3.
# Create two points
p1 = Point(2, 3)
p2 = Point(4, 5)

# Convert points to vectors
v1 = Vector(p1.x, p1.y)
v2 = Vector(p2.x, p2.y)

# Add
added_vector = v1.add(v2)
print(added_vector)

# Subtract
subtracted_vector = v1.subtract(v2)
print(subtracted_vector)

# Scale
scaled_vector = v1.scale(3)
print(scaled_vector)

Vector(6, 8)
Vector(-2, -2)
Vector(6, 9)

The code to create the Rectangle class is below, but it requires an additional function to see if a point is contained within the rectangle:

In [ ]:
class Rectangle:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    def __repr__(self):
        fmt = 'Rectangle({!r}, {!r})'
        return fmt.format(self.p1, self.p2)

    def contains(self, p):
        min_x = min(self.p1.x, self. p2.x)
        max_x = max(self.p1.x, self.p2.x)
        min_y = min(self.p1.y, self.p2.y)
        max_y = max(self.p1.y, self.p2.y)

        return min_x <= p.x <= max_x and min_y <= p.y <= max_y

This code creates a rectangle R and then shows that the point (4,3) is within the boundary of the rectangle. Create a point that is outside of the rectangle.
QN3) Solve it.

In [ ]:
# Create a rectangle
R = Rectangle(Point(1, 1), Point(5, 5))

# Create a point outside of the rectangle
point = Point(4, 3)

# Check if the point is within the boundary of the rectangle
print(R.contains(point))

True

In [ ]:
# Creating and checking with circles
class Circle:
    def __init__(self,c,r):
        self.c = c
        self.r = r
    def __repr__(self):
        fmt = 'Circle(centre: {!r}, radius: {!r})'
        return fmt.format(self.c, self.r)
    def contains(self,p1):
        return (((Vector.subtract(self.c,p1).x**2 + Vector.subtract(self.c,p1).y**2))**(0.5)<=self.r)

QN4) Create a circle using the variable C with centre at (1,2) and radius 3. Then create 5 different points, p1-p5 where 2 are within the circle and 3 are outside the circle.

In [ ]:
# Check whether each point is inside or outside the circle
C = Vector(1, 2)
circle = Circle(C, 3)

# Define the points
p1 = Vector(2, 3)  # Inside the circle
p2 = Vector(0, 0)  # Inside the circle
p3 = Vector(5, 5)  # Outside the circle
p4 = Vector(1, 5)  # Outside the circle
p5 = Vector(6, 2)  # Outside the circle

# Check if the points are within the circle
points = [p1, p2, p3, p4, p5]
for i, p in enumerate(points, start=1):
    if circle.contains(p):
        print(f"Point p{i} {p} is inside or on the circle.")
    else:
        print(f"Point p{i} {p} is outside the circle.")

Point p1 Vector(2, 3) is inside or on the circle.
Point p2 Vector(0, 0) is inside or on the circle.
Point p3 Vector(5, 5) is outside the circle.
Point p4 Vector(1, 5) is inside or on the circle.
Point p5 Vector(6, 2) is outside the circle.

Next let's look at a general Polygon and contains function. Don't worry about how the code works, it relies on Numpy imported as np and uses maths to solve the problem, but see that the points of the edges from the Polygon are listed in the array p with a new point listed in r tested against it.

In [ ]:
import numpy as np

def contains(P,R):

    intercepts = 0

    r_origin = R
    r_end = np.array([np.max(P[:,0])+30,np.max(P[:,1])+30])
    r_direction = r_end - r_origin


    for i in range(len(P)):
        u_origin = P[i,:]
        u_direction = P[(i+1)%len(P),:] - u_origin
        Z = np.array([u_direction,-r_direction])
        intercept_len = np.linalg.pinv(Z.T).dot(r_origin - u_origin)
        if (((intercept_len[0]>0) & (intercept_len[0]<1)) and ((intercept_len[1]>0) & (intercept_len[1]<1))) == 1:
            intercepts += 1

    if intercepts%2 == 1:
        print('r is inside polygon p')
    else:
        print('r is outside polygon p')

p = np.array(([80,150],[100,40],[140,170],[250,60],[320,150],[250,130],[110,250]))
r = np.array([300,200])
contains(p,r)

r is outside polygon p

In [ ]:
import matplotlib.pyplot as plt

plt.plot([p[i % 7][0] for i in range(8)], [p[i % 7][1] for i in range(8)], 'xb-');
plt.plot(r[0],r[1],'r*')
plt.show()

# THE END